@model ThongNhat_PhongMo.Models.ThongTinKhamBenh

@{
    ViewData["Title"] = "Chỉnh sửa";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="col-md-12">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="id" />
        <input asp-for="mabn" type="hidden" />
        <input asp-for="hoten" type="hidden" />
        <input asp-for="namsinh" type="hidden" />
        <input asp-for="id_tinhtrang" type="hidden" />
        <input asp-for="Thoigian" type="hidden" />
        <input asp-for="ThoigianDuKien" type="hidden" />
        <div class="form-group">
            <label class="control-label">Phòng</label>
            <select asp-for="id_phongban" class="form-control" asp-items="ViewBag.id_phongban"></select>
            <span asp-validation-for="id_phongban" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
